{% extends "template.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="jumbotron">
        {% if articles %}
            {% for article in articles %}
                <div class="row">
                    <div class="col-8">
                        <b><a href="/article/{{ article.id }}">{{ article.title }}</a></b>
                    </div>
                    <div class="col-4 text-right">
                        {{ article.date|date("Y/m/d H:i:s") }}
                    </div>
                </div>
                <br />
                <div>
                    {{ article.content|markdown_to_html }}
                </div>
                <br />
                <br />
            {% endfor %}
        {% else %}
            <h2>The request page not found.</h2>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-8">
            <a {% if pageid <= 1 or articles|length == 0 %} class="d-none" {% endif %} href="/{{ pageid - 1 }}">Previous Page {{ pageid - 1 }}</a>
        </div>
        <div class="col-4 text-right">
            <a {% if articles|length < itemcounts %} class="d-none" {% endif %} href="/{{ pageid + 1 }}">Previous Page {{ pageid + 1 }}</a>
        </div>
    </div>
{% endblock %}